<div class="flex justify-center items-center">
    <a href="https://vcrid.art/" target="_blank"><img src="https://vcrid.art/badges/vcrid.png"></a>
    <a href="https://archlinux.org" target="_blank"> <img src="/badges/arch.png" alt=""></a>
    <a href="#"> <img src="/badges/antinazi.png" alt=""></a>
    <a href="#"> <img src="/badges/ublock.webp" alt=""></a>
    <a href="#"> <img src="/badges/astro.png" alt=""></a>
    <a href=https://astralvrz.github.io/><img src="https://astralvrz.github.io/Images/Badges/Astrals_website.png"></a>
    <a href="https://coffeeknife.nekoweb.org">
        <img src="http://coffeeknife.nekoweb.org/badges/coffeeknife.png" alt="A button with a small purple coffee cup and the text 'coffeknife.nekoweb.org'">
    </a>
</div>
