<div class="flex flex-wrap justify-center items-center gap-2 bg-none">
    <a href="https://vcrid.art/" target="_blank">
        <img src="https://vcrid.art/badges/vcrid.png" alt="Vcrid Badge" class="w-20 h-auto">
    </a>
    <a href="https://coffeeknife.nekoweb.org" target="_blank">
        <img src="http://coffeeknife.nekoweb.org/badges/coffeeknife.png" alt="Coffee Knife Badge" class="w-20 h-auto">
    </a>
    <a href="https://archlinux.org" target="_blank">
        <img src="/badges/arch.png" alt="Arch Linux Badge" class="w-20 h-auto">
    </a>
    <a href="#">
        <img src="/badges/antinazi.png" alt="Anti Nazi Badge" class="w-20 h-auto">
    </a>
    <a href="#">
        <img src="/badges/ublock.webp" alt="uBlock Badge" class="w-20 h-auto">
    </a>
    <a href="#">
        <img src="/badges/astro.png" alt="Astro Badge" class="w-20 h-auto">
    </a>  
</div>
