<div class="flex justify-center items-center min-h-screen w-full px-4 py-8 text-center text-white font-iceland bg-cover bg-no-repeat bg-center relative">
    <div class="space-y-4">
        <div class="border-dotted border-3 p-4 border-x-custom-green border-y-red-600">
            <p class="hover:text-shadow-glow transition duration-200 text-base sm:text-xl md:text-3xl lg:text-3xl xl:text-3xl">
                Hola, soy <span class="text-purple-600">Vcrid11</span>. Este es mi escape de este mundo
                <span class="text-purple-600">contaminado</span><br>
                Me gusta <span class="text-purple-600">expresarme</span> y este es mi <span class="text-purple-600">arte</span>. <br>
                Me gusta <span class="text-purple-600">Linux</span>, navegando por la web, y 
                <span class="text-purple-600">aprendiedo</span> cosas nuevas. <br><br>
                Más sobre mí y cosas que hago a continuación.
            </p>
        </div>
        
        <a href="/about">
            <img src="/images/about.png" alt="About Page" class="h-12 mx-auto">
        </a>
        
        <!--------------------- Digital clock ----------------->
        <h2 class="text-purple-600 text-lg sm:text-xl md:text-2xl lg:text-3xl">Time at my place</h2>
        <div id="digital-clock"></div>

        <div class="contact-info">
            <p class="hover:text-shadow-glow transition duration-200 text-base sm:text-xl md:text-3xl lg:text-3xl">
                Contactame Abajo:
            </p>
            <a href="/contact">
                <img src="/images/contact.png" alt="Contact Page" class="h-11 mx-auto">
            </a>
        </div>
        <p class="text-sm sm:text-base md:text-3xl lg:text-3xl">
            Still trying to settle on a perfect theme for the website, btw. <br>
            So it's pretty much raw meat. <br><br>
            I have so many ideas coming. Watch this space :)
        </p>
    </div>
</div>
