---

---

<div class="candles flex justify-between">
    <img src="./images/candles.jpg" alt="" class="h-12">
    <p class="text-custom-green font-iceland text-2xl">Love <span class="text-blue-600">&</span> Peace</p>
    <img src="./images/candles.jpg" alt="" class="h-12">
</div>
