<div class="flex justify-center items-center min-h-screen w-full px-4 py-8 text-center text-white font-iceland bg-cover bg-no-repeat bg-center">
    <div class="space-y-4">
        <p class="hover:text-shadow-glow transition duration-200">
            Hello, I'm <span class="text-purple-600">Vcrid</span>. This is my escape from this 
            <span class="text-purple-600">tainted</span> world. <br>
            I like minimal <span class="text-purple-600">websites</span> and this is my <span class="text-purple-600">art</span>. <br>
            I love computers, <span class="text-purple-600">Linux</span>, scrolling the web, and 
            <span class="text-purple-600">learning</span> new stuff. <br><br>
            If you want to know more about me and stuff I do: <br>
            Check out my about page below.
        </p>
        <a href="/about">
            <img src="/images/about.png" alt="About Page" class="h-12 mx-auto">
        </a>
        
        <!--------------------- Digital clock ----------------->
        <h2 class="text-purple-600">Time at my place</h2>
        <div id="digital-clock"></div>

        <div class="contact-info">
            <p class="hover:text-shadow-glow transition duration-200">Wanna Ping, Wave, Chill? Here you go:</p>
            <a href="/contact">
                <img src="/images/contact.png" alt="Contact Page" class="h-11 mx-auto">
            </a>
        </div>
        <p>
            Still trying to settle on a perfect theme for the website, btw. <br>
            So it's pretty much raw meat. <br><br>
            I have so many ideas coming. Watch this space :)
        </p>
    </div>
</div>
