<div class="body-content text-center">
    <p>Hello, I'm Vcrid. This is my escape from this tainted world. <br>
        I like minimal portfolios and that's why you can see this right now. <br>
        I love computers, Linux, scrolling the web and learning new stuff. <br>
        You can get my PGP Key 
        <a href="/pgp.txt" target="_blank" class="text-blue-500 no-underline hover:text-blue-700">Here</a>
    </p>
    <!--------------------- Digital clock ----------------->
    <h2>Time in Nairobi, Kenya</h2>
    <div id="digital-clock"></div>
    
</div>