<div class="min-h-screen w-full px-4 py-8 text-center text-white font-iceland bg-cover bg-no-repeat bg-center relative">
    <div class="space-y-4 flex flex-wrap justify-center gap-8">
        <!-- part 1 -->
        <div class="flex-1 min-w-[45%] p-4 place-items-start grid text-wrap ml-20">
            <p class="text-white hover:text-shadow-glow transition duration-200 text-base sm:text-xl md:text-3xl lg:text-3xl xl:text-3xl">
                Hello, I'm <span class="text-purple-600">Vcridleven</span>. <br> This is my escape from this
                <span class="text-purple-600">Wretched</span> World<br>
                I love to <span class="text-purple-600">express</span> myself and this is my <span class="text-purple-600">art</span>. <br>
                I love <span class="text-purple-600">Linux</span>, exploring the web, <br> and
                <span class="text-purple-600">learning</span> new things.
            </p>
        </div>

        <!-- part 2 -->
        <div class="flex-1 min-w-[45%] p-4">
            <a href="/about">
                <img src="/images/about.png" alt="About Page" class="h-12 mx-auto">
            </a>
            <div class="flex-1 min-w-[45%] p-4">
                <a href="/contact">
                    <img src="/images/contact.png" alt="Contact Page" class="h-11 mx-auto">
                </a>
            </div>
                <a href="/blog">
                    <img src="/images/blog.png" alt="Blogs Page" class="w-48 h-32 mx-auto">
                </a>
        </div>
        

        <!-- part 3 -->
        <div class="flex-1 min-w-[35%] mr-22">
            <h2 class="text-purple-600 text-lg sm:text-xl md:text-2xl lg:text-3xl">Time at my place</h2>
            <div id="digital-clock"></div>
        </div>

        <!-- part 5 -->
        <div class="flex-1 min-w-[45%] p-4">
            <p class="text-sm sm:text-base md:text-3xl lg:text-3xl">
                Still trying to settle on a perfect theme for the website, btw. <br>
                So it's pretty much raw meat. <br><br>
                I have so many ideas coming. Watch this space :)
            </p>
        </div>
    </div>
</div>

<style>
    img {
        height: 50px;
    }
</style>