<div class="body-content">
    <img src="/src/images/giphy.webp" alt="pikachu-webp" id="pikachu">
    <h1>Hello <span id="acrisoul"></span></h1>
    <p>Welcome to my little corner of the universe</p>
    <!--------------------- Digital clock ----------------->
    <h2>Time in Nairobi, Kenya</h2>
    <div id="digital-clock"></div>
</div>