<div class="flex justify-center items-center h-screen w-full text-center text-white  font-iceland -translate-y-32 sm:text-2xl md:text-2xl lg:text-3xl sm:-translate-y-32 bg-cover bg-no-repeat bg-center">
    <div>
        <p class="hover:text-shadow-glow transition duration-2000">Hello, I'm <span class="text-purple-600">Vcrid</span> This is my escape from this <span class="text-purple-600">tainted</span> world. <br>
            I like minimal <span class="text-purple-600">websites</span> and this is my <span class="text-purple-600">art</span>. <br>
            I love computers, <span class="text-purple-600">Linux</span>, scrolling the web and <span class="text-purple-600">learning</span> new stuff. <br>
            <br>
            If You wanna know more about me and stuff I do: <br>
            Check out my about page below<br>
        </p>
        
            <a href="/about">
            <img src="/images/about.png" alt="" style="height: 50px;">
            </a>
        
        
        <!--------------------- Digital clock ----------------->
        <h2 class="text-purple-600">Time at my place</h2>
        <div id="digital-clock"></div>

        <div class="contact-info">
            <p class="hover:text-shadow-glow transition duration-2000">Wanna Ping, Wave, Chill? Here you go:</p>
            <p>
                <a href="/contact">
                    <img src="/images/contact.png" alt="" style="height: 45px;">
                </a>
            </p>
        </div>
        <p>Still trying to settle on a perfect theme for the website btw <br>
            So It's pretty much raw meat <br> <br>
            I have so many ideas coming Watch This space :)
        </p>
    </div>
</div>