<div class="text-center text-white text-xl ml-9 font-iceland ">
    <p>Hello, I'm Vcrid. This is my escape from this tainted world. <br>
        I like minimal portfolios and that's why you can see this right now. <br>
        I love computers, Linux, scrolling the web and learning new stuff. <br>
        If You wanna know more about me and stuff I do: <br>
        Check out my about page below<br>
        <p><a href="/about" 
        class="text-custom-green no-underline hover:text-green-700 text-3xl">
        About Me</a>
        </p>
        
    <!--------------------- Digital clock ----------------->
    <h2>Time at my place</h2>
    <div id="digital-clock"></div>

    <div class="contact-info">
        <p>Wanna Ping, Wave, Chill? Here you go:</p>
        <p><a href="/contact" 
            class="text-custom-green no-underline hover:text-green-700 text-3xl">
            Contact Me:</a>
            </p>
    </div>
    <p>Still trying to settle on a perfect theme for the website btw <br>
        So It's pretty much raw meat
    </p>
</div>