<div class="flex items-center space-x-3 mb-4 font-iceland">
    <img src="./icons/Discord.gif" alt="">
    <a href="https://discord.app" target="_blank" rel="noopener" 
        class="text-lg font-iceland text-white hover:text-indigo-600 no-underline">
        vcrid.art
    </a>
</div>
<div class="flex items-center space-x-3 mb-4">
    <img src="./icons/twitter.gif" alt="">
    <a href="https://twitter.com/acrisoul" target="_blank" rel="noopener" 
        class="text-lg font-iceland text-white hover:text-blue-500 no-underline">
        acrisoul
    </a>
</div>
<div class="flex items-center space-x-3">
    <img src="./icons/mail.gif" alt="">
    <a href="mailto:skitts4code@proton.me" 
        class="text-lg font-iceland text-white hover:text-green-500 no-underline">
        skitts4code
    </a>
</div>

<p class="text-white font-iceland">I'm most active on discord so that's where i'd try checking first</p>


<p class="text-white font-iceland">
    You can get my PGP Key 
    <a href="/pgp.txt" target="_blank" class="text-blue-500 no-underline hover:text-blue-700">Here</a>
</p>

<p><a href="/"><i class="fas fa-arrow-left text-custom-green hover:text-white"> Home</i></a></p>
<p><a href="/about"><i class="fas fa-arrow-left text-custom-green hover:text-white"> About Me</i></a></p>
