<div class="file-stack">
    <!-- Folder Items -->
    <div class="folder">
        <div class="label">Assignment-Checker-Mku</div>
        <div class="content">
            <div class="content-inner">
                <a href="https://github.com/acridsoul/Selenium-Projects/tree/main/1.assignment-checker-mku">
                    <h3>Assignment Checker</h3></a>
                <p>An extension that checks for Assignments and CATS 
                    on the Mount Kenya University Portal Then Sends a Screenshot to the user</p>
                <!-- <img src="https://via.placeholder.com/150" alt="Sony Walkman"> -->
            </div>
        </div>
    </div>
    <div class="folder">
        <div class="label">Clear Mark</div>
        <div class="content">
            <div class="content-inner">
                <a href="https://github.com/acridsoul/Clear-Mark"><h3>Documentary Area Watermark Eraser</h3></a>
                <p>Well I love Documentaries and Piracy. This extension aims to remove watermarks 
                    from videos providing a good user experience</p>
            </div>
        </div>
    </div>
    <div class="folder">
        <div class="label">Autoscroller</div>
        <div class="content">
            <div class="content-inner">
                <a href="instagram.com"><h3>Chromium Autoscroller</h3></a>
                <p>Basically Speaks For Itself..its an Autoscroller</p>
                <p>Saves you scrolling with your mouse</p>
                <p>Especially for long pages</p>
            </div>
        </div>
    </div>
    <!-- Add more folders as needed -->
</div>