<div class="file-stack">
    <!-- Folder Items -->
    <div class="folder">
        <div class="label">Clear Mark</div>
        <div class="content">
            <div class="content-inner">
                <a href="https://github.com/acridsoul/Clear-Mark"
                target="_blank">
                <h3>Documentary Area Watermark Eraser</h3></a>
                <div class="project-links">
                    <a href="https://github.com/acridsoul/Clear-Mark" target="_blank" class="project-icon">
                      <i class="fab fa-github"></i>
                    </a>
                  </div>
                <p>Well I love Documentaries and Piracy. This extension aims to remove watermarks 
                    from videos providing a good user experience</p>
            </div>
        </div>
    </div>
    <div class="folder">
        <div class="label">Apex Legends Menu</div>
        <div class="content">
            <div class="content-inner">
                <a href="https://apex-legends-selection.vercel.app/"
                target="_blank"><h3>Apex Legends Clone</h3></a>
                <div class="project-links">
                    <a href="https://github.com/acridsoul/apex-legends-selection" target="_blank" class="project-icon">
                      <i class="fab fa-github"></i>
                    </a>
                </a>
                <a href="https://apex-legends-selection.vercel.app/" target="_blank" class="project-icon">
                  <i class="fas fa-globe"></i>
                </a>
                  </div>
                <p>Apex Legends character selection menu <br>
                    Gonna Add more characters soon...
                </p>
            </div>
        </div>
    </div>
    <div class="folder">
        <div class="label">VirusTotal-Client</div>
        <div class="content">
          <div class="content-inner">
            <a href="#" target="_blank"><h3>VirusTotal-Flask</h3></a>
            <div class="project-links">
              <a href="https://github.com/acridsoul/virustotal-flask" target="_blank" class="project-icon">
                <i class="fab fa-github"></i>
              </a>
              <a href="https://virustotal-flask.vercel.app/" target="_blank" class="project-icon">
                <i class="fas fa-globe"></i>
              </a>
            </div>
            <p>I built My Own Malware Checker Using Flask</p>
            <p>And Used The VirusTotal API to achieve this</p>
            <p>Clone the project and Try it for Yourself</p>
            <p>The aim was to learn API requests and JSON</p>
          </div>
        </div>
       </div>
</div>