<div class="flex justify-center items-center space-x-4">
    <!-- Previous -->
    <a href="https://webring.dinhe.net/prev/https://vcrid.art" 
       class="border border-gray-500 rounded px-4 py-2 text-purple-500 hover:text-custom-green transition no-underline">
      Previous
    </a>
  
    <!-- Retronaut Webring -->
    <a href="https://webring.dinhe.net" target="_blank" class="border border-gray-500 rounded px-4 py-2 text-purple-500 hover:text-custom-green bg-gray-800 no-underline">
      Retronaut Webring
    </a>
  
    <!-- Next -->
    <a href="https://webring.dinhe.net/next/https://vcrid.art" 
       class="px-1 py-2 text-purple-500 hover:text-custom-green transition no-underline">
      Next
    </a>
  </div>
  