 <div>
   <div class="flex items-center justify-center -mb-7 space-x-2 bg-none" >
    <a href="https://webring.bucketfish.me/redirect.html?to=prev&name=vcrid">
      <img src="./icons/left.gif" alt="">
    </a>
  
    <a href="https://webring.bucketfish.me"
     target="_blank" 
     class="no-underline text-purple-500  font-iceland text-xl px-1 py-2 rounded">
      <p>Bucketfish Webring</p>
    </a>
  
    <a href="https://webring.bucketfish.me/redirect.html?to=next&name=vcrid">
      <img src="./icons/right.gif" alt="">
    </a>
  </div>
  
                           <!-- Retronaut  -->

  <div class="flex items-center justify-center space-x-2 bg-none">
      <a href="https://webring.dinhe.net/prev/https://vcrid.art" 
         class="text-white px-1 py-2 ">
        <img src="./icons/left.gif" alt="">
        </a>
      
      <p class="text-purple-500  font-iceland text-xl">
        Retronaut Webring
      </p>
      
      <a href="https://webring.dinhe.net/next/https://vcrid.art" 
         class="text-white px-1 py-2 rounded">
        <img src="./icons/right.gif" alt="">
        </a>
    </div>
    <!-- No AI Webring -->
    <div class="flex items-center justify-center space-x-2 bg-none mb-6 -mt-2 ml-1">
      <a href="https://baccyflap.com/noai/?prv&s=vln" target="_top" title="previous">
        <img src="./icons/left.gif" alt="">
      </a>
      <a href="https://baccyflap.com/noai" target="_blank" class="text-purple-500  font-iceland text-xl">no ai &#x1f6ab;&#129302; webring</a>
      <a style="font-size:60%" href="https://baccyflap.com/noai/?rnd" target="_top" title="random">(&#x1F3B2;)</a>
      <a href="https://baccyflap.com/noai/?nxt&s=vln" target="_top" title="next">
        <img src="./icons/right.gif" alt="">
      </a>
      </div>
 </div>