<iframe id="bucket-webring" style="width: 100%; height: 3rem; border: none;"
 src="https://webring.bucketfish.me/embed.html?name=vcrid"></iframe> 
 
<div class="flex items-center justify-center space-x-4 bg-none">
    <a href="https://webring.dinhe.net/prev/https://vcrid.art" 
       class="text-white px-1 py-2 ">
      <i class="fas fa-arrow-left text-custom-green hover:text-purple-500"></i>
    </a>
    
    <p class="text-purple-500  font-iceland text-xl">
      Retronaut Webring
    </p>
    
    <a href="https://webring.dinhe.net/next/https://vcrid.art" 
       class="text-white px-1 py-2 rounded">
      <i class="fas fa-arrow-right text-custom-green hover:text-purple-500"></i>
    </a>
  </div>