<div class="flex items-center justify-center space-x-4">
    <!-- Previous (Left Arrow) -->
    <a href="https://webring.dinhe.net/prev/https://vcrid.art" 
       class="text-white px-1 py-2 ">
      <i class="fas fa-arrow-left text-custom-green"></i>
    </a>
    
    <!-- Retronaut Webring -->
    <p class="text-white px-4 py-2 font-iceland text-xl">
      Retronaut Webring
    </p>
    
    <!-- Next (Right Arrow) -->
    <a href="https://webring.dinhe.net/next/https://vcrid.art" 
       class="text-white px-1 py-2 rounded">
      <i class="fas fa-arrow-right text-custom-green"></i>
    </a>
  </div>
  