---
import Blogs from '../components/Blogs.astro';
import '../styles/global.css';

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/logo.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Iceland&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Blogs</title>
  </head>
<body>
    <Blogs />
</body>
</html>