---
import Header from '../components/Header.astro';
import Blogs from '../components/Blogs.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '../styles/blogs.css';

---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/logo.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Blogs</title>
  </head>
<body>
    <Header />
    <h1>Welcome to my blogs page</h1>
    <Blogs />
    <Footer />
    <script>
      import "../scripts/blogs.js";
    </script>
</body>
</html>