---
import Contacts from "../components/contacts.astro"
import Webring from "../components/Webring.astro";
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/logo.ico" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Iceland&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <meta name="generator" content={Astro.generator} >
  </head>
  <body>
    <Contacts />
    <Webring />
    <script>
      // Import external JavaScript (menu.js) for functionality
      import "../scripts/menu.js";
    </script>

  </body>
</html>

