---
import Body from '../components/Body.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Webring from '../components/Webring.astro';
import '../styles/global.css';

const pageTitle = "The Crib";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/logo.ico" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Iceland&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
      <BaseLayout>
      </BaseLayout>
    </div>
    <Webring />

    <script>
      // Import external JavaScript (menu.js) for functionality
      import "../scripts/menu.js";
    </script>
  </body>
</html>

