---
import Header from '../components/Header.astro';
import Body from '../components/Body.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = "The Crib";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/public/logo.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>

    <!-- Loading Screen -->
    <!-- <div id="loading-screen">
      <h1>Wait...</h1> <br>
      <div class="loader"></div>
    </div> -->

    <!-- Main content, hidden initially -->
    <!-- <div id="main-content" style="display: none;"> -->
      <Header />
      <Body />
      <h2>Time in Nairobi, Kenya</h2>
      <div id="digital-clock"></div>
      <Footer />
    </div>

    <script>
      // Import external JavaScript (menu.js) for functionality
      import "../scripts/menu.js";
    </script>

  </body>
</html>

