---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
import Guestbook from '../components/Guestbook.astro';

const pageTitle = "The Crib";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/logo.ico" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Iceland&display=swap" rel="stylesheet">
    <link rel="preload" href="/images/fence.jpg" as="image">
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
    <div>
      <BaseLayout>
      </BaseLayout>
    </div>
    <script>
      // Import external JavaScript (menu.js) for functionality
      import "../scripts/menu.js";
    </script>
  </body>
</html>

