---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = "The Crib";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/public/logo.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
	<Header />
    <h1>{pageTitle}</h1>
    <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
	<Footer />
	<script>
		import "../scripts/menu.js";
	</script>
  </body>
</html>